.navbar{
  height: 50px;
  background-color: #1D2B49;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 700;
}

.navButton{
  margin-left: 20px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: #0071c2;
}